/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: url('portifolio/reservations/static/images/img2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav {
    background-color: #4CAF50;
    color: #fff;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

header {
    text-align: center;
    padding: 2rem 0;
    background-color: #ffcc00;
    margin-top: 1rem;
}

.container {
    padding: 2rem;
    margin-top: 1rem;
}

.wrapper {
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    margin: 100px auto 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper form {
    display: flex;
    flex-direction: column;
}

.wrapper h1 {
    text-align: center;
    margin-bottom: 20px;
}

.wrapper .input-box {
    position: relative;
    margin-bottom: 20px;
}

.wrapper .input-box select,
.wrapper .input-box input[type="text"],
.wrapper .input-box input[type="email"],
.wrapper .input-box input[type="tel"],
.wrapper .input-box input[type="password"],
.wrapper .input-box input[type="date"] {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    padding-left: 40px;
}

.wrapper .input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #999;
}

.wrapper .input-box-group {
    display: flex;
    gap: 20px;
}

.wrapper .input-box-group .input-box {
    flex: 1;
}

.wrapper .gender-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.wrapper .gender-box label {
    margin-right: 20px;
}

.wrapper .role-selection {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.wrapper .role-selection label {
    margin-right: 20px;
}

.wrapper .remember-forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.wrapper .register-link {
    text-align: center;
    margin-top: 20px;
}

.wrapper .register-link a {
    color: #4CAF50;
    text-decoration: none;
}

.btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #4CAF50;
}
